{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>☣️ Liste des formations ☣️</h1>
    {% for  in  %}
        {{formation}}<br>
    {% endfor %}
</div>
{% endblock %}