{% extends 'base.html.twig' %}

{% block title %}Listes des stagiaires{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>☣️ Liste des stagiaires ☣️</h1>

    {% for stagiaire in stagiaires %}
        <a href="{{ path('show_stagiaire', {'id': stagiaire.id})}}">{{stagiaire}}</a><br>
        <ul><li>Email : {{stagiaire.email}}</li><li>Tél : {{stagiaire.tel}}</li></ul><br>
    {% endfor %}
</div>
{% endblock %}
